@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for body to ensure Inter font is applied globally */
body {
    font-family: 'Inter', sans-serif;
    /* Smooth transitions for Dark/Light mode toggle */
    transition: background-color 0.3s ease, color 0.3s ease; 
}

/* Ensure the main element covers minimum height for consistent footer */
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}